project: 
  fullPath: "test cac"
  origin: "jenkins"
sast: 
  engineConfiguration: "Korean"
  excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, node_modules\"
  includeExcludePattern: \"!**/*.DS_Store, **/*.java\"
  high: 530
  medium: 530
  low: 530
  incremental: false
  preset: "All"
  privateScan: false
  overrideprojectsettings: true
sca:
  fileInclude: "dll" 
  fileExclude: "nothing.jar" 
  pathExclude: "test"
  high: 30
  medium: 30
  low: 30
