project: 
  fullPath: "TestCli_ConfigAsCodeWithDupScan_true"
  origin: "cli"
sast: 
  engineConfiguration: "Korean"
  excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, node_modules\"
  includeExcludePattern: \"!**/*.DS_Store, **/*.java\"
  high:
  medium:
  low:
  incremental: false
  preset: "All"
  privateScan: false
  enableSASTBranching: false
  overrideprojectsettings: false
  avoidDuplicateProjectScans : true
